<%= form_for(@soldier) do |f| %>
  <% if @soldier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@soldier.errors.count, "error") %> prohibited this soldier from being saved:</h2>

      <ul>
      <% @soldier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :life_points %><br>
    <%= f.number_field :life_points %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
