<h1>Listing soldiers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Life points</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @soldiers.each do |soldier| %>
      <tr>
        <td><%= soldier.name %></td>
        <td><%= soldier.life_points %></td>
        <td><%= link_to 'Show', soldier %></td>
        <td><%= link_to 'Edit', edit_soldier_path(soldier) %></td>
        <td><%= link_to 'Destroy', soldier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Soldier', new_soldier_path %>
