<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @soldier.name %>
</p>

<p>
  <strong>Life points:</strong>
  <%= @soldier.life_points %>
</p>

<%= link_to 'Edit', edit_soldier_path(@soldier) %> |
<%= link_to 'Back', soldiers_path %>
